<h1>Homepage</h1>

<h4>This is a cats' database</h4>

<p>Click on the top menu options to access list and functionalities.</p>

<h4>Here is a map of the cats' location</h4>

<div style="height: 380px; border:1px solid red" id="map"></div>

<p style="color: blue; font-size: 46px;">
