<h1>New Cat</h1>

<form method="POST" action="/cats">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="write the name" class="form-control">
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input type="text" name="age" id="age" placeholder="write the age" class="form-control">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" placeholder="write a small description" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label>Image</label>
    <input type="text" name="image" placeholder="write the image url" class="form-control">
  </div>

  <button class="btn btn-primary">Add</button>
</form>
